
* {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--app-container);
}

h1 {
    background-image: url("../images/header.png");
    height: 70pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 34pt
}

:root {
    --app-container: #A8D0E6;
    --main-color: #F76C6C;
    --secondary-color: #374785;
    --link-color: #F76C6C;
    --link-color-hover: #da9b9b;
    --link-color-active: #374785;
    --link-color-active-bg: #F76C6C;
    --projects-section: #F8E9A1;
    --message-box-hover: #374785;
    --message-box-border: #e9ebf0;
    --more-list-bg: #374785;
    --more-list-bg-hover: #5a689b;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #374785;
    --star: #1ff1c2e;
    --message-btn: #212a4f;
}

.dark:root {
    --app-container: #111827;
    --main-color: #fff;
    --secondary-color: rgba(255,255,255,.8);
    --projects-section: #1f2937;
    --link-color: rgba(255,255,255,.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255,255,255,.1);
    --star: #ffd92c;
    --light-font: rgba(255,255,255,.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover:  rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
}

.project-box-content-header {
    width: 100%;
    height: 130%;

    order: 1;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    /*color: #374785;*/
    background: #ffffff;
    /*background: #e9ebf0;*/
    /*background-image: url("../images/calendar.jpg");*/
}


.box-content-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    height: 80%;
    width: 90%;
    text-decoration: none;
}

.button {
    background-color: #F76C6C; /* Green */
    border: none;
    color: #413e3e;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.input {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}


.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.home {
    box-sizing: border-box;
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.row {
    display: grid;
    justify-items: center;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: auto;

    box-sizing: border-box;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.goback {
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    color: #374785;
}

.goback:hover {
    color: black;
}